<div id = 'container'>
    <div class="topnav">
        <a class="active" href="">Home</a>
        <!-- <a href="#news">News</a>
        <a href="#contact">Contact</a>
        -->
        <p class = "middle_text">Come in!</p>
    
    </div>
    <div class = 'register'>
        <a  href="#about">Login/Register</a>
    </div>
    <div>
        <img src = "assets/img/books.jpg" alt = "Books Image" height="700px" width="100%" >
        <div class="search_bar">
                <input type="search" name="search" placeholder="Search Books" class="form__input">
                <button><a [routerLink]="['/books']">Search</a></button>
        </div>
    </div>
</div>
