
  <div id="box">
      <div class="topnav">
          <a class="active" [routerLink]="['/']">Home</a>
          <!-- <a href="#news">News</a>
          <a href="#contact">Contact</a>
           -->
          <!-- <p class = "middle_text">Come in!</p> -->
         
        </div>
        <div class = 'register'>
        <button [routerLink]="['/chat']">Chat</button>
        <button [routerLink]="['/prod-updates']">Shopping Cart</button>
        </div>
        <div>
          
            <div class="search_bar">
                  <input type="search" name="search" placeholder="Search Books" class="form__input" [(ngModel)] = "searchTerm">
                  <button><a [routerLink]="['/books']">Search</a></button>
            </div>
        </div>
    <div class="frame">
      <img src={{show.imageUrl}} alt="Image of {{show.title}}">
      
      <h3>Title: {{show.title}}</h3>
      <h4>Author: {{show.firstName}} {{show.lastName}}</h4>
      <h4>Summary: {{show.description}}</h4>
      <h4>Price: ${{show.price}}</h4>
      <button class="button btn btn-primary" (click)="addToCart(book)">Add to Cart</button>
    </div>
  </div>
