
  <div id="box">
      <div class="topnav">
          <a class="active" [routerLink]="['/']">Home</a>
          <!-- <a href="#news">News</a>
          <a href="#contact">Contact</a>
           -->
          <!-- <p class = "middle_text">Come in!</p> -->
         
        </div>
        <div class = 'register'>
        <button [routerLink]="['/chat']">Chat</button>
        <button [routerLink]="['/prod-updates']">Shopping Cart</button>
        </div>
        <div>
          
            <div class="search_bar">
                  <input type="search" name="search" placeholder="Search Books" class="form__input" [(ngModel)] = "searchTerm">
                  <button><a [routerLink]="['/books']">Search</a></button>
            </div>
        </div>
    <div class="frame">
      <img src={{book.imageUrl}} alt="Image of {{book.title}}">
      
      <h3>Title: {{book.title}}</h3>
      <h3>Author: {{book.firstName}}</h3>
      <h4>Price: ${{book.price}}</h4>
      <button class="btn btn-primary" [routerLink]="['/books', 'detail']">Details</button>
      <button class="button btn btn-primary" (click)="deleteBook(book._id)">Add to Cart</button>
    </div>
  </div>
