
img {
    max-height: 12rem;
    max-width: 18rem;
}
#box {


    text-align: center;
    /* border: .25rem solid black;
    border-radius: 3rem; */
}

.button {
    margin: 1rem 1rem;
}

.frame {
    display: inline-block;
    vertical-align: top;
    width: 20rem;
    min-height: 22rem;
    margin: .25rem;
    padding: .25rem;
    text-align: center;
    border: 2px solid black;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 86px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
  }
  .register {
    position: absolute;
    top: 35px;
    right: 15px;
    text-decoration: none;
    color: white;
 
  }
  .register button{
    -moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    }
    .register button:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
      background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
      background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
      background-color:#bab1ba;
    }
    .register button:active {
      position:relative;
      top:1px;
    }
  .search_bar{
      position: absolute;
      top: 37px;
      right:284px;
      height: 100px;

  }
.search_bar input{
    height: 30px;
    text-decoration: none;
}
button {
    height: 30px;


  }
button a {
    text-decoration: none;
    
}